@{
    ViewData["Title"] = "Home Page";
}
<table>
    <tr>
        
        @for(int i = 0; i<ViewBag.Paises.Count; i++){
            <th><a href='@Url.Action("DetallePais",new{nombrePais = ViewBag.Paises[i].Nombre})'>Detalle del pais</a></th>
        }
    </tr>
    <tr>
        @for(int i = 0; i<ViewBag.Paises.Count; i++){
            <td><img class="photo" src="@ViewBag.Paises[i].imgBandera" alt=""></td>
        }
    </tr>
</table>
    
    
